.Home{
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
   
}
.home_banner_component{
   background-color: rgb(75, 165, 165);

}
.home_products_container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: white;
   
}
.home_products_container_img{
 
}
.cont1{
    width: 33.5%;
    height: 33.5vh;
    background-color: chocolate;
}
.cont2{
    width: 33.5%;
    height: 33.5vh;
    background-color: rgb(17, 123, 139);
}
.cont3{
    width: 33.5%;
    height: 33.5vh;
    background-color: rgb(210, 204, 30);
}
.container{
    display: flex;
    color: black;
}
